.form-input-text input[type='text'] {
  border-radius: 1.5rem;
  border: 2px solid #dedede;
  height: 1.778rem;
  padding: 0 0.5rem;
  font-weight: 300;
  background-color: #fff;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  color: #50626d;
}

.form-input-text input[type='text']:focus {
  border-color: #2196f3;
}

.form-input-text {
  margin: 1rem 0;
}

.form-input-text p {
  margin: 0.4444rem 0;
}
