.create-playliste-content {
  padding-bottom: 1rem;
  text-align: center;
}

.create-playliste-content h2 {
  margin-top: 0.3rem;
}

.create-playliste-content-title-bar {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 3.333rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.5rem 1.5rem 0 0;
}

.create-playliste-content .ng-btn {
  margin-top: 3rem;
}