.join-playlist-content {
  padding-bottom: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.join-playlist-qr {
  height: 19.5rem;
  width: 19.5rem;
  overflow: hidden;
}

.join-playlist-qr video {
  width: 16.67rem;
  height: 16.67rem;
  object-fit: cover !important;
  object-position: center;
}

.join-playlist-qr img {
  width: 16.67rem;
  height: 16.67rem;
}

.join-playlist-content h2 {
  margin-top: 0.3rem;
}

.join-playlist-content-scann {
  cursor: pointer;
}

.join-playlist-url {
  text-align: center;
}

.join-playlist-url-input,
.join-playlist-url-input .form-input-text {
  display: inline-block;
}

.join-playlist-url-input {
  width: 100%;
}

.join-playlist-public {
  margin-top: 1rem;
}

.join-playlist-public p {
  font-weight: 400;
}

.join-playlist-public-list {
  list-style-type: none;
  width: 100%;
  max-height: 9rem;
  border-radius: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.join-playlist-public-list-item {
  background-color: rgba(255, 255, 255, 0.4);
  height: 2.667rem;
  padding: 0 1rem;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.join-playlist-public-list-item:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.join-playlist-public-list-item:last-child,
.join-playlist-public-list-item:only-child {
  border: none;
}

.join-playlist-public-list-item-info {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  padding-left: 5%;
  line-height: 2.667rem;
  text-align: left;
}

.join-playlist-public-list-item .ion-ios-arrow-right {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  line-height: 2.667rem;
  text-align: right;
}

.join-playlist-tag {
  display: block;
  line-height: 1.2rem;
  font-size: 0.85rem;
  font-style: italic;
}

.join-playlist-name {
  display: block;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.3rem;
}

.join-playlist-public-list-item-action {
  flex-grow: 1;
  text-align: right;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.join-playlist-public-list-item-action:hover {
  transform: translateX(1rem);
  font-size: 2rem;
}
