.landing-view {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.landing-view-actions-wrapper {
  height: 40rem;
  width: 26rem;
  position: relative;
  text-align: center;
}

.landing-view-actions-background {
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 30rem;
  background-color: #FFF;
  opacity: 0.2;
  position: relative;
  z-index: 0;
  transition: opacity 0.3s linear;
}

.landing-view-actions-background.morphed {
  opacity: 0;
}

.landing-view-actions-background-position {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: 
    top 1s ease-out,
}

.landing-view-actions-background-position.button-morphed {
  top: 0;
  transform: translate(0);
}

.landing-view-actions-wrapper .ng-btn-morphing {
  margin: 1rem 0;
}

.landing-view-actions-group {
  margin-top: 3rem;
}

.ng-logo-subtitle {
  font-weight: 400;
  color: #fff;
  font-size: 1.2rem;
}
