.landing-view {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.landing-view-bg-video {
  position: fixed;
  background-position: center;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  /*background: url(polina.jpg) no-repeat;*/
  background-size: cover;
}

.landing-view-actions-wrapper {
  height: 40rem;
  width: 26rem;
  position: relative;
}

.landing-view-actions-background {
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 40rem;
  background-color: #FFF;
  opacity: 0.2;
  position: relative;
  z-index: 0;
  transition: opacity 0.3s linear;
}

.landing-view-actions-background.morphed {
  opacity: 0;
}

.landing-view-actions-background-position {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: 
    top 1s ease-out,
}

.landing-view-actions-background-position.button-morphed {
  top: 0;
  transform: translate(0);
}
