.main-playlist {
  background-image: linear-gradient(360deg, #0b0a1b 0%, #3f1445 100%);
  color: white;
}

.main-playlist .main-playlist-list {
  margin: 0;
  padding: 0;
}

.main-playlist-list li {
  margin: 0.5rem 1rem;
  border: none;
}

.main-playlist-list li:first-child {
  margin-top: 1rem;
}

.main-playlist .col-sm-12 > * {
  background-image: linear-gradient(360deg, #1e1a4d 0%, #332c84 45%, #a361cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2739a1', endColorstr='#6840e3', GradientType=0); /* ie6-9 */
  border-radius: 12px;
  width: 98%;
  height: 90vh;
  max-height: 90vh;
  padding: 0rem !important;
  overflow: hidden;
}

.main-playlist .col-sm-12:first-child > * {
  background-image: linear-gradient(40deg, #1e1a4d 0%, #332c84 45%, #a361cb 100%) !important;
  width: 96% !important;
}

.main-playlist .col-sm-12:last-child > * {
  background-image: linear-gradient(320deg, #1e1a4d 0%, #332c84 45%, #a361cb 100%) !important;
  width: 96% !important;
}

.main-playlist .col-sm-12 {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;
}

.main-playlist .col-sm-12:first-child {
  justify-content: right;
}

.main-playlist .col-sm-12:last-child {
  justify-content: left;
}