.music-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*list item*/

.music-list-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.music-list-item:last-child {
  border: none;
  border-radius: 0 0 1rem 1rem;
}

.music-list-item-content {
  overflow: hidden;
  padding: 0 0.3rem;
}

.search-panel-result-title {
  font-size: 1rem;
  font-weight: 700;
}

.search-panel-result-channel {
  font-weight: 300;
  font-style: italic;
}

.music-list-item-thumbnail img{
  width: 2.778rem;
  height: 2.778rem;
  border-radius: 50%;
}

.music-list-item-action {
  flex-grow: 1;
  text-align: right;
}

.music-list-item-action-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.search-panel-result-duration {
  margin-right: 1rem;
}

.music-list-item-action i {
  font-size: 2rem;
  cursor: pointer;
}
