.audio-timeline-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/*waves*/

.audio-waves-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 44px; /*in px to avoid responsive conflicts with randoms*/
  width: 12.22rem;
}

.audio-wave {
  display: inline-block;
  background-color: #000;
  transition:
    height 1s ease-in-out,
    width 1s ease-in-out;
}
