.ng-btn-morphing {
  cursor: pointer;
  max-height: 10rem;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #fff;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, max-height 1.5s linear, border-color 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.ng-btn-morphing:hover {
  background: rgba(255, 255, 255, 0.2);
}

.ng-btn-morphing.has-morphed {
  max-height: 150rem;
}

.ng-btn-morphing:hover.has-morphed {
  cursor: default;
  background: rgba(255, 255, 255, 0.2);
}