.ng-btn {
  border: 0.05556rem solid #2196f3;
  border-radius: 1rem;
  padding: 0.3333rem 2rem;
  transition: 
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.ng-btn:hover {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff
}
